<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">A collection of my finished projects. These will be school and personal projects that will be completed while attending WWU.</p>
    <p>
      <%= link_to "About Me", about_me_path, class: 'btn btn-primary my-2' %>
      <%= link_to "My Blogs", blogs_path, class: 'btn btn-secondary my-2' %>
    </p>
  </div>
</section>