<h1>About Me</h1>

<hr>

<div class="row" >
	<div class="col-md-4">
		<%= image_tag "Dogs.jpg", width: 225, height: 225, alt: "Progile Image" %>
	</div>
	<div class="col-md-8">
		<p>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own. Find me in app/views/pages/about.html.erb< Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own. Find me in app/views/pages/about.html.erb</p>
		<p>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own. Find me in app/views/pages/about.html.erb< Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own. Find me in app/views/pages/about.html.erb</p>
	</div>
</div>