<h1>Pages#contact</h1>

<p><%= number_to_phone "5555555555" %>< Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own./p>

<p><a href="mailto:ceresveres@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1315.2954322406279!2d-122.46273671635855!3d48.75151174789302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5485a39399f764e5%3A0x88102198fb46b535!2s1628+Lincoln+St%2C+Bellingham%2C+WA+98229!5e0!3m2!1sen!2sus!4v1532485625881" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>