<div class="app-card-container">
	<div class="card border-light">
	  <h1 class="cover-heading">S. Tyler Wilson</h1>

	  <p class="lead">Welcome to my student blog and portfolio website.</p>

	  <p class="lead">
	    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
	  </p>
	</div>
</div>